/*za_main.css*/
/*
 * Base structure
 */

@font-face {
  /* font-properties */

  font-family: openSans;
  src: url('../fonts/opensans.ttf');
}
/* Move down content because we have a fixed navbar that is 50px tall */

body {
  min-width: 1200px;
  font-family: openSans, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #666;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img {
  padding: 0;
  margin: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

html {
  padding-bottom: 20px;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

label {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}

.tooltip {
  font-family: inherit;
}

a {
  color: #238ff9;
}

a:hover,
a:focus,
a.router-link-active {
  color: rgba(35, 143, 249, 0.81);
  text-decoration: none;
}

.modal-btn-confirm{
  padding: 0px 24px;
  height: 30px;;
  font-size: 14px;
  color: #fff;
  font-family: inherit;
  border: none;
  background-color: #1898eb;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 4px;
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
}
.modal-btn-confirm:hover{
  background-color: #127dc2;
}
.modal-btn-cancel{
  border: none;
  margin-left: 20px;
  padding: 0px 24px;
  height: 30px;;
  font-size: 14px;
  color: #238ff9;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  margin-right: 4px;
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
}
.modal-btn-cancel:hover{
  background-color: #eee;
}