/*za_main.css*/
/*
 * Base structure
 */

@font-face {
  /* font-properties */

  font-family: openSans;
  src: url('../fonts/opensans.ttf');
}
/* Move down content because we have a fixed navbar that is 50px tall */

body {
  min-width: 1200px;
  font-family: openSans, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #666;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img {
  padding: 0;
  margin: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

html {
  padding-bottom: 20px;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

label {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}

.tooltip {
  font-family: inherit;
}

a {
  color: #238ff9;
}

a:hover,
a:focus,
a.router-link-active {
  color: rgba(35, 143, 249, 0.81);
  text-decoration: none;
}

/* table css start */

.qm-table {
  clear: left;
  margin-top: 14px;
  border-collapse: collapse;
  width: 100%;
}

.qm-table thead th {
  background-color: #eee;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  height: 40px;
  text-align: center;
  padding: 0 20px;
}

.qm-table thead th:first-child {
  border-left: none;
}

.qm-table tbody tr td {
  background-color: #fff;
  color: #666;
  font-size: 12px;
  text-align: left;
  height: 40px;
  padding: 0 20px;
}

.qm-table tbody tr:nth-child(2n) td {
  background-color: #f9f9f9;
}

.qm-table .qm-btn {
  font-size: 12px;
}
/* button css start */

.qm-btn {
  line-height: 20px;
  font-size: 14px;
  color: #238ff9;
  font-family: inherit;
  border: 1px solid #b0c4de;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 4px;
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
}

.qm-btn a:hover {
  color: #fff;
}

.qm-btn:hover,
.qm-btn:hover a,
.qm-btn.primary {
  color: #fff;
  background-color: #238ff9;
  border: 1px solid #238ff9;
}

.qm-btn.no-primary:hover {
  color: #238ff9;
  background-color: #fff;
  border: 1px solid #238ff9;
}

.create-btn {
  text-align: center;
  width: 120px;
  color: #fff;
  background-color: #5cb85c;
  line-height: 30px;
  border: none;
}

.create-btn > i {
  margin-right: 5px;
}

a.create-btn:hover,
a.create-btn:focus,
a.create-btn:hover {
  background-color: #449644;
  border: none;
  color: #fff;
}
/* tabs  */

.qm-tabs {
  background-color: #fff;
  padding-bottom: 20px;
  font-family: inherit;
}

.qm-tabs .tab-nav {
  margin-top: 20px;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

.qm-tabs .tab-nav a {
  float: left;
  width: 120px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #666;
  /* border-right: 1px solid #e5e5e5; */
}

.qm-tabs .tab-nav a.router-link-active,
.qm-tabs .tab-nav a.active {
  background-color: #fff;
  border-top: 2px solid #238ff9;
  line-height: 38px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000;
}

.qm-tabs .tab-content {
  margin-top: 20px;
  min-height: 400px;
}

.page-location {
  /*display: inline-block;*/

  margin-bottom: 10px;
}

.tooltip-inner {
  background-color: #2e3a46;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #2e3a46;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2e3a46;
}

.page-head {
  margin: 0 0 20px 0;
  color: #333333;
  font-size: 14px;
}

.page-head > .title {
  line-height: 1em;
  font-size: 24px;
  color: #1e1e1e;
}

.page-head > .summary {
  margin-top: 20px;
}

.section-head {
  margin: 20px 0;
  border-bottom: 2px solid #eee;
}

.section-head > .title {
  font-size: 14px;
  line-height: 2em;
  display: inline-block;
  padding: 0 10px 0 0;
  /* border-bottom: 2px solid #238ff9;*/

  margin-bottom: -2px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 12px;
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: #ccc;
}

/*zb_modal.css*/
.modal{
  padding-top:10%;
}
.modal-title {
  color: #000;
  font-size: 18px;
}
.modal-header {
  height: 48px;
}
.modal-body {
  text-align: center;
  padding: 30px;
  font-size: 14px;
  color: #666;
}
.modal-body input[type=checkbox]{
  margin: 0;
}
.modal-body i{
  font-size: 24px;
  color:#fd9f01;
  vertical-align: sub;
  margin: 0 5px;
}

.modal-footer {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.modal-title {
  margin-left: 10px;
}
.modal-footer {
  border-top: 1px solid #eee;
}
.modal-header {
  border-bottom: 1px solid #ddd;
}
.modal-btn-confirm{
  padding: 0px 24px;
  height: 30px;;
  font-size: 14px;
  color: #fff;
  font-family: inherit;
  border: none;
  background-color: #1898eb;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 4px;
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
}
.modal-btn-confirm:hover{
  background-color: #127dc2;
}
.modal-btn-cancel{
  border: none;
  margin-left: 20px;
  padding: 0px 24px;
  height: 30px;;
  font-size: 14px;
  color: #238ff9;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  margin-right: 4px;
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
}
.modal-btn-cancel:hover{
  background-color: #eee;
}

/*zc_table.css*/
.form-item table {
  width: 100%;
}

.form-item table th {
  border: 1px solid #eee;
  background-color: #f4f4f4;
  height: 30px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}

.form-item table {
  width: 100%;
  border-color: gray;
}

.form-item table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #eee;
}

.form-item form>table td {
  border-top: none;
}

.irs-slider {
  border: none;
  top: 25px;
  width: 27px;
  height: 27px;
  background: #6CB1DE;
  border-radius: 27px;
  -moz-border-radius: 27px;
  cursor: pointer;
}

.list-header {
  font-family: "Microsoft YaHei";
  background: #f0f2f5;
  color: #333;
  margin-top: 18px;
  font-size: 14px;
  width: 100%;
  line-height: 35px;
  height: 35px;
  margin-right: 0px;
  margin-left: 0px;
}

.list-item {
  margin-top: 11px;
  height: 80px;
  line-height: 80px;
  width: 100%;
  border: 1px solid #eee;
  margin-right: 0px;
  margin-left: 0px;
}

.text-center {
  text-align: center;
}

.list-item .icon {
  background-color: #E3F2FD;
  color: #555;
  line-height: 46px;
  width: 46px;
  height: 46px;
  text-align: center;
  display: inline-block;

  margin: 0 5px;
}

.list-item .summary {
  display: block;
  line-height: 1em;
  margin-top: -25px;
  color: #999;
}

/*zd_form.css*/
.form-item {
  margin: 0 30px;
  font-size: 14px;
}


.form-item form>table input {
  width: 100%;
}

.form-item form>table select {
  width: 100%;
}
.form-item.btnaction{
  text-align: center;
  margin-top: 30px;
}
.must-input {
  color: red;
}

.item-line {
  color: #999;
  margin: 10px 0;
  position: relative;
}
.item-line > .name{
  width: 120px;
  display: inline-block;
  vertical-align: top;
}


.item-line .form-ic-success {
  font-size: 16px;
  color: #5cb85c;
  margin-left: 10px;
}

.form-error {
  font-size: 12px;
  color: #f76661;
}

input {
  line-height: 30px;
  width: 50%;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding-left: 10px;
}

textarea {
  min-height: 100px;
  width: 50%;
  border-radius: 3px;
  border: 1px solid #ddd;
  vertical-align: middle;
  background-color: #f9f9f9;
}

select {
  height: 30px;
  width: 50%;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding-left: 10px;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  vertical-align: baseline;
  line-height: 30px;
  margin-right: 10px;
}
