.divider {
  height: 1px;
  overflow: hidden;
  background-color: #1B2633;
}
a.active {
  border:1px solid #334874;
}
.sideBar {
  min-width: 1200px;
}
.sideBar > .project,
.sideBar > .menu{
  position: fixed;
  width: 160px;
  background-color: #334874;
  color: #8daee4;
}

.sideBar > .project {
  top: 50px;
  height: 120px;
  background-color: #334874;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  text-align: center;
}

.sideBar > .menu {
  top: 160px;
  bottom: 0;
  overflow: auto;
}

.sideBar > .project .icon {
  margin: 20px 0 0 0;
  background-color: #70b2ff;
  color: #555;
  line-height: 64px;
  width: 64px;
  height: 64px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.sideBar > .project .name {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul.menu {
  padding: 0;
}
ul.menu li a {
  color: #8daee4;
  text-decoration:none;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  padding-left: 20px;
  line-height: 35px;
  height: 35px;
  display: block;
  width: 100%;
  font-size: 14px;
}

ul.menu li a:hover {
  background-color: #3b558c;
  cursor: pointer;
}

ul.menu li.active {
  background-color: #3b558c;
}

ul.menu li a.active {
  border-left: 1px solid #3890ff;
}
.alarm_span  {
  /*float: right;*/
  border-radius:4px;
  padding: 0px 10px;
  margin-right: 2px;
  background-color:#18232F;
}



.alarm-list {
  border-width:0px 1px 1px 1px;
  border-style:solid;
  border-color:#d9d9d9;
}

.alarm-list .list-item,.edit-list-item {
  height:auto;
  background-color:#ffffff;
  min-height:95px;
  cursor:pointer;
  position:relative;
  padding:5px 0;
}

.alarm-list .list-item.active,.alarm-list .list-item:hover	 {
  background-color:#F0F3F7;
}

.itemBorder{
  border-top: 1px solid #e3e6e9;
}

.itemBorder:last-child {
  border-bottom: 1px solid #e3e6e9;
}

.alarm-list .list-item .center-icon {
  font-size: 1.5em;
  position: relative;
  left: 10px;
  top:30px;
  float:left;
}

.item-left {
  display:inline-block;
  position: relative;
  width: auto;
  float:left;
}

.item-right {
  display: inline-block;
  position: absolute;
  right: 17px;
  bottom: 15px;
}

.item-right .fa {
  font-size:1.5em;
}

.warn-topLine{
  padding-right: 15px;
  padding-left: 10px;
  margin-top: 0px;
}

.warn-topLine label ,.item-left .activePolicy ,.warn-topLine {
  font-weight:normal;
  color:#A9A9A9;
  font-size:12px;
}

.activePolicy {
  margin-top:5px;
  margin-left: 5px;
  width: 180px;
  word-break: break-all;
}

.whitebg {
  background-color:#ffffff;
  overflow:hidden;
  padding:0px 10px;
  border: 1px solid #d9d9d9;
}

.whitebg .qm-table {
  border-width:1px 0px;
  border-style: solid;
  border-color: #dddddd;
  margin-top:5px!important;
}


.escalation-wrap {
  padding-top:10px;
  padding-left:10px;
  /*width:80%;*/
}

.escalation-wrap p {
  font-weight:bold;
}

.escalation-list {
  width:100%;
  float:left;
  display:block;
}

.escalation-item{
  padding:0 10px 10px 0;
  float:left;
}

.history-wrap {
  padding-top:35px;
  padding-left:10px;
  /*width:100%;*/
}

.form-control {
  margin-bottom:10px;
}

.history-item {
  padding: 5px 0;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #e5e5e5;
}

.history-item:last-child {
  border-bottom-width:1px;
}

.history-wrap p {
  font-weight:bold;
}
.time {
  color:#A9A9A9;
}


.row-query{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #ffffff;
  margin:0;
  line-height:40px;
  padding-top:4px;
  border-width:1px 1px 0px 1px;
  border-style:solid;
  border-color:#d9d9d9;
}


/*zb_modal.css*/
.modal{
  padding-top:10%;
}
.modal-title {
  color: #000;
  font-size: 18px;
}
.modal-header {
  height: 48px;
}
.modal-body {
  text-align: center;
  padding: 30px;
  font-size: 14px;
  color: #666;
}
.modal-body input[type=checkbox]{
  margin: 0;
}
.modal-body i{
  font-size: 24px;
  color:#fd9f01;
  vertical-align: sub;
  margin: 0 5px;
}

.modal-footer {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.modal-title {
  margin-left: 10px;
}
.modal-footer {
  border-top: 1px solid #eee;
}
.modal-header {
  border-bottom: 1px solid #ddd;
}
.modal-btn-confirm{
  padding: 0px 24px;
  height: 30px;;
  font-size: 14px;
  color: #fff;
  font-family: inherit;
  border: none;
  background-color: #1898eb;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 4px;
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
}
.modal-btn-confirm:hover{
  background-color: #127dc2;
}
.modal-btn-cancel{
  border: none;
  margin-left: 20px;
  padding: 0px 24px;
  height: 30px;;
  font-size: 14px;
  color: #238ff9;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  margin-right: 4px;
  min-width: 60px;
  display: inline-block;
  box-sizing: border-box;
}
.modal-btn-cancel:hover{
  background-color: #eee;
}


/* table css start */

.qm-table {
  clear: left;
  margin-top: 14px;
  border-collapse: collapse;
  width: 100%;
}

.qm-table thead th {
  background-color: #eee;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  height: 40px;
  text-align: center;
  padding: 0 20px;
}

.qm-table thead th:first-child {
  border-left: none;
}

.qm-table tbody tr td {
  background-color: #fff;
  color: #666;
  font-size: 12px;
  text-align: left;
  height: 40px;
  padding: 0 20px;
}

.qm-table tbody tr:nth-child(2n) td {
  background-color: #f9f9f9;
}

.qm-table .qm-btn {
  font-size: 12px;
}


