<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li>{{_policyService.policyType}}</li>
        <li *ngIf = "_policyService._curTypeFlag" style="display: inline-block;">{{_policyService.curType}}</li>
        <li class="active">
          <a data-toggle="modal" data-target="#myAddPolicyModal" class="btn btn-success btn-banner-oper" (click)="beforeClickCreatePolicyBtn()">新建投资策略</a>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <div class="row-query">
        <div>
          <input  #box1 (keyup.enter)="policyIDValue=box1.value" (blur)="policyIDValue=box1.value" type="text" class="form-control" placeholder="策略单号">
        </div>
        <div>
          <input #box2 (keyup.enter)="policyTypeValue=box2.value" (blur)="policyTypeValue=box2.value" type="text" class="form-control" placeholder="策略类别">
        </div>
        <div>
          <input #box3 (keyup.enter)="policyDirectionValue=box3.value" (blur)="policyDirectionValue=box3.value" type="text" class="form-control" placeholder="策略方向">
        </div>
        <div>
          <input #box4 (keyup.enter)="policyCycleValue=box4.value" (blur)="policyCycleValue=box4.value" type="text" class="form-control" placeholder="策略周期">
        </div>
        <div>
          <button type="button" class="form-control" (click)="filterMyPolicyList()"><i class="fa fa-search" title="过滤"></i></button>
        </div>
      </div>
      <div class="alarm-list" *ngFor="let policyData of _policyService.policyDatas">
        <div class="alarm-query-item itemBorder">
          <div class="list-item clearfix" (click)="clickPolicyList(policyData)">
            <div class="warn-topLine">
              <div class="pull-right warn-inline">
                <span>
                  <label style="background-color: #42a8ef;font-size: 16px;color: black">{{policyData.type}}</label>
                  <label style="background-color: #42a8ef;font-size: 16px;color: black">{{policyData.direction}}</label>
                  <label style="background-color: #42a8ef;font-size: 16px;color: black">{{policyData.createTime}}</label>
                </span>
              </div>
            </div>
            <div class="item-left">
              <div class="activePolicy">策略单号: {{policyData.id}}</div>
              <div class="activePolicy">策略周期: {{policyData.cycle}}</div>
              <div class="activePolicy">入场点位: {{policyData.entryPoint}}</div>
              <div class="activePolicy">出场点位: {{policyData.exitPoint}}</div>
            </div>
            <div class="item-right" ngSwitch={{policyData.status}}>
              <template ngSwitchCase="待入场">
                <a (click) ="changePolicyStatus('入场',policyData)"><i class="fa fa-fw fa-user grey" title="入场"
                                                   data-toggle="modal" data-target="#enterPolicyInfoModal"></i></a>
                <a (click) ="changePolicyStatus('退场',policyData)"><i class="fa fa-share-square-o grey"
                                            title="退场" style="margin-left:3px;color: red;cursor:not-allowed;"></i></a>
                <a (click) ="changePolicyStatus('订阅',policyData)"><i class="fa fa-arrow-down grey"
                                            title="订阅" style="margin-left:3px;color: red;cursor:not-allowed;"></i></a>

              </template>
              <template ngSwitchCase="已入场">
                <a (click) ="changePolicyStatus('入场',policyData)"><i class="fa fa-fw fa-user grey"
                                            title="入场" style="margin-left:3px;color: red;cursor:not-allowed;"></i></a>
                <a (click) ="changePolicyStatus('退场',policyData)"><i class="fa fa-share-square-o grey"
                                            title="退场" data-toggle="modal" data-target="#enterPolicyInfoModal"></i></a>
                <a (click) ="changePolicyStatus('订阅',policyData)"><i class="fa fa-arrow-down grey"
                                            title="订阅" style="margin-left:3px;color: red;cursor:not-allowed;"></i></a>
              </template>
              <template ngSwitchCase="已退场">
                <a (click) ="changePolicyStatus('入场',policyData)"><i class="fa fa-fw fa-user grey" title="入场"
                                             style="margin-left:3px;color: red;cursor:not-allowed;"></i></a>
                <a (click) ="changePolicyStatus('退场',policyData)"><i class="fa fa-share-square-o grey"  title="退场" style="margin-left:3px;color: red;cursor:not-allowed;"></i></a>
                <a (click) ="changePolicyStatus('订阅',policyData)"><i class="fa fa-arrow-down grey"
                                            title="订阅" style="margin-left:3px;color: red;cursor:not-allowed;"></i></a>
              </template>
              <template ngSwitchDefault>
                <p style="font-size: 12px;color:red">状态？</p>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="whitebg" style="min-height: 763px;" *ngIf="_policyService.hasPolicyFlag">
        <table class="qm-table">
          <thead>
          <th>策略单号</th>
          <th>策略类别</th>
          <th>策略周期</th>
          <th>入场点位</th>
          <th>出场点位</th>
          <th>所属老师</th>
          <th>所属团队</th>
          </thead>
          <tbody>
          <tr>
            <td style="text-align:center ">{{_policyService.currentPolicyDatas.id}}</td>
            <td style="text-align:center ">{{_policyService.currentPolicyDatas.type}}</td>
            <td style="text-align:center ">{{_policyService.currentPolicyDatas.cycle}}</td>
            <td style="text-align:center ">{{_policyService.currentPolicyDatas.entryPoint}}</td>
            <td style="text-align:center ">{{_policyService.currentPolicyDatas.exitPoint}}</td>
            <td style="text-align:center ">{{_policyService.currentPolicyDatas.creator.login}}</td>
            <td style="text-align:center ">{{_policyService.currentPolicyDatas.team}}</td>
          </tr>
          </tbody>
        </table>
        <div class="escalation-wrap">
          <p>策略理由</p>
          <div class="escalation-list">
            <div class="escalation-item">{{_policyService.currentPolicyDatas.reason}}</div>
          </div>
        </div>
        <div class="history-wrap">
          <p>记录</p>
          <div class="form-group clearfix">
            <input type="text" class="form-control" placeholder="填写记录信息(0-100)" [value]="currentPolicyRecordingInfo">
            <button class="modal-btn-confirm pull-right" (click)="currentAlarmRecordingInfo()">记录</button>
            <button class="modal-btn-confirm pull-right" (click)="clearCurrentAlarmRecordingInfo()">清除</button>
          </div>
          <!--<div class="historyList" *ngFor="let recordInfo of currentClickAlarmInfo.recording">-->
          <div class="historyList">
            <div class="history-item"><span style="margin-right:20px;">111</span>
              <span>111，并记录：111</span>
              <span class="time pull-right">1111</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="modal fade" id="myAddPolicyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">新建投资策略</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form" style="width:60%;margin: auto">
            <div class="form-group">
              <label class="col-sm-2 control-label">策略类别</label>
              <div class="col-sm-4">
                <select name="policyType" [(ngModel)]="policyType" class="form-control">
                  <option *ngFor="let type of _policyService.policyTypesArray" [value]="type">{{type}}</option>
                </select>
              </div>
              <label class="col-sm-2 control-label">策略周期</label>
              <div class="col-sm-4">
                <select name="policyCycle" [(ngModel)]="policyCycle" class="form-control">
                  <option *ngFor="let cycle of _policyService.policyCyclesArray" [value]="cycle">{{cycle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">策略方向</label>
              <div class="col-sm-4">
                <select name="policyDirection" [(ngModel)]="policyDirection" class="form-control">
                  <option *ngFor="let pdirection of _policyService.policyDirectionsArray" [value]="pdirection">{{pdirection}}</option>
                </select>
              </div>
              <label class="col-sm-2 control-label">策略状态</label>
              <div class="col-sm-4">
                <select name="policyStatus" [(ngModel)]="policyStatus" class="form-control">
                  <option *ngFor="let status of _policyService.policyStatusesArray" [value]="status">{{status}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">入场点位</label>
              <div class="col-sm-4">
                <input type="text" #box5 (keyup.enter)="policyEntryPointValue=box5.value" (blur)="policyEntryPointValue=box5.value" class="form-control" placeholder="请输入入场点">
              </div>
              <label class="col-sm-2 control-label">出场点位</label>
              <div class="col-sm-4">
                <input type="text" #box6 (keyup.enter)="policyEixtPointValue=box6.value" (blur)="policyEixtPointValue=box6.value" class="form-control" placeholder="请输入出场点">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">策略理由</label>
              <div class="col-sm-10">
                <input type="text" #box7 (keyup.enter)="policyReasonValue=box7.value" (blur)="policyReasonValue=box7.value" class="form-control" placeholder="请输入策略理由!">
              </div>
            </div>
            <!--<div class="form-group">-->
              <!--<div class="col-sm-12">-->
                <!--<label >-->
                  <!--<input type="checkbox" id="pushPolicyFlag" [(ngModel)]="pushPolicyFlag" name="pushPolicyFlag"> 推送策略-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
            <div class="form-group" style="margin-top:35px;">
                  <button type="submit" class="modal-btn-confirm" data-dismiss="modal" (click)="clickCreatePolicyBtn()" *ngIf="principal.authenticated">创建</button>
                  <button class="modal-btn-confirm" data-dismiss="modal">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="modal fade" id="enterPolicyInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">策略状态切换</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" role="form" style="width:60%;margin: auto">
            <div class="form-group">
              <label class="col-sm-2 control-label">策略类别</label>
              <div class="col-sm-4">

                <select name="policyType" [(ngModel)]="policyType" class="form-control" disabled>
                  <option *ngFor="let type of _policyService.policyTypesArray" [value]="type">{{type}}</option>
                </select>
              </div>
              <label class="col-sm-2 control-label">策略周期</label>
              <div class="col-sm-4">
                <select name="policyCycle" [(ngModel)]="policyCycle" class="form-control" disabled>
                  <option *ngFor="let cycle of _policyService.policyCyclesArray" [value]="cycle">{{cycle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">策略方向</label>
              <div class="col-sm-4">
                <select name="policyDirection" [(ngModel)]="policyDirection" class="form-control" disabled>
                  <option *ngFor="let pdirection of _policyService.policyDirectionsArray" [value]="pdirection">{{pdirection}}</option>
                </select>
              </div>
              <label class="col-sm-2 control-label">策略状态</label>
              <div class="col-sm-4">
                <select name="policyStatus" [(ngModel)]="policyStatus" class="form-control" disabled>
                  <option *ngFor="let status of _policyService.policyStatusesArray" [value]="status">{{status}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">修正入场点位</label>
              <div class="col-sm-4">
                <input type="text" #box8 (keyup.enter)="policyRealEntryPointValue=box8.value" (blur)="policyRealEntryPointValue=box8.value" class="form-control" placeholder="请输入实际入场点">
              </div>
              <label class="col-sm-2 control-label">修正出场点位</label>
              <div class="col-sm-4">
                <input type="text" #box9 (keyup.enter)="policyRealEixtPointValue=box9.value" (blur)="policyRealEixtPointValue=box9.value" class="form-control" placeholder="请输入实际出场点">
              </div>
            </div>

            <div class="form-group" style="margin-top:35px;">
              <button type="submit" class="modal-btn-confirm" data-dismiss="modal" (click)="configChangePolicyStatusBtn()" *ngIf="principal.authenticated">确定</button>
              <button class="modal-btn-cancel" data-dismiss="modal">关闭</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>



