
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPolicyLabel">Create or edit a Policy</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.policy.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.policy.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.policy.type" id="field_type" required>
                <option value="黄金" data-translate="ipnaaspApp.PolicyType.黄金">黄金</option>
                <option value="白银" data-translate="ipnaaspApp.PolicyType.白银">白银</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_direction">Direction</label>
            <input type="checkbox" class="form-control" name="direction" id="field_direction"
                    ng-model="vm.policy.direction"
                     />
            <div ng-show="editForm.direction.$invalid">
                <p class="help-block"
                    ng-show="editForm.direction.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.policy.status" id="field_status" required>
                <option value="waitPolicy">waitPolicy</option>
                <option value="enterPolicy">enterPolicy</option>
                <option value="exitPolicy">exitPolicy</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createTime">Create Time</label>
                <div class="input-group">
                    <input id="field_createTime" type="text" class="form-control" name="createTime" datetime-picker="{{dateformat}}" ng-model="vm.policy.createTime" is-open="vm.datePickerOpenStatus.createTime"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createTime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createTime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_entryTime">Entry Time</label>
                <div class="input-group">
                    <input id="field_entryTime" type="text" class="form-control" name="entryTime" datetime-picker="{{dateformat}}" ng-model="vm.policy.entryTime" is-open="vm.datePickerOpenStatus.entryTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('entryTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_exitTime">Exit Time</label>
                <div class="input-group">
                    <input id="field_exitTime" type="text" class="form-control" name="exitTime" datetime-picker="{{dateformat}}" ng-model="vm.policy.exitTime" is-open="vm.datePickerOpenStatus.exitTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('exitTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_entryPoint">Entry Point</label>
            <input type="number" class="form-control" name="entryPoint" id="field_entryPoint"
                    ng-model="vm.policy.entryPoint"
                    required />
            <div ng-show="editForm.entryPoint.$invalid">
                <p class="help-block"
                    ng-show="editForm.entryPoint.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.entryPoint.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_exitPoint">Exit Point</label>
            <input type="number" class="form-control" name="exitPoint" id="field_exitPoint"
                    ng-model="vm.policy.exitPoint"
                    required />
            <div ng-show="editForm.exitPoint.$invalid">
                <p class="help-block"
                    ng-show="editForm.exitPoint.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.exitPoint.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                    ng-model="vm.policy.reason"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_push">Push</label>
            <input type="checkbox" class="form-control" name="push" id="field_push"
                    ng-model="vm.policy.push"
                     />
            <div ng-show="editForm.push.$invalid">
                <p class="help-block"
                    ng-show="editForm.push.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cycle">Cycle</label>
            <select class="form-control" name="cycle" ng-model="vm.policy.cycle" id="field_cycle" required>
                <option value="UshortTermO">UshortTermO</option>
                <option value="ShortTermO">ShortTermO</option>
                <option value="CenterlineO">CenterlineO</option>
                <option value="LongTermO">LongTermO</option>
            </select>
            <div ng-show="editForm.cycle.$invalid">
                <p class="help-block"
                    ng-show="editForm.cycle.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" ng-model="vm.policy.creator" ng-options="user as user.id for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.creator.$invalid">
            <p class="help-block"
                ng-show="editForm.creator.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" ng-model="vm.policy.team" ng-options="team as team.id for team in vm.teams track by team.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
